<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="icon" href="/public/lebonplan-favicon.png" type="image/x-icon">
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      margin-top: 50px;
    }
    img.logo {
      width: 150px;
      height: auto;
    }
  </style>
</head>
<body>
  <img src="/public/images/lebonplan-logo.png" alt="Logo LeBonPlan" class="logo">
  <h1>Bienvenue sur LeBonPlan !</h1>
</body>
</html>